* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(./img/0x0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 800px; */
  /* width: 500px; */
  /* max-width: fit-content; */
}

h1 {
  display: flex;
  color: #ffff;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 6rem;
  margin-top: 40px;
  margin-left: 2.2rem;
  margin-bottom: 4px;
}

h4 {
  color: #ffff;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: 2.4rem;
}

input,
textarea {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
  margin-left: 28%;
  width: 50%;
  background: transparent;
  color: #ffff;
  outline: none;
  border: none;
  border-bottom: 2px solid blanchedalmond;
  font-size: 20px;
}

.submit {
  background-color: tomato;
}

::placeholder {
  color: white;
}
